<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="crnipanter.avto" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IskanjeVin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ISKANJEVIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Oglasi"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.OGLASI" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Prijava"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.PRIJAVA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Iskanje_oglasa"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ISKANJEOGL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OddajaOglasa"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ODDAJAOGL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UspesnoOddan"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.USPESNOODDAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OgledVin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.OGLEDVIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NotFound"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.NOTFOUND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
